<div>
  <h4>Категории</h4>
  <button class="btn btn-outline-info"
          routerLink="/admin/category/new">Добавить категорию
  </button>
</div>
<ul class="list-group list-group-flush" *ngIf="categories$ |async as categories; else loading">
  <a [routerLink]="['/admin/category',category.categoryId]"
     class="list-group-item"
     *ngFor="let category of categories"><span>{{category.categoryId}} {{category.categoryName}}</span></a>


</ul>
<ng-template #loading>
  <div class="d-flex align-items-center">
    <strong>Загрузка...</strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
  </div>
</ng-template>
