<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li routerLinkActive="active">
        <a class="nav-link navbar-brand" routerLink="/home">Главная</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           id="navbarDropdown"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false"
           (click)="getAllCategories()">
          Каталог товаров
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li *ngFor="let category of categories">
            <a class="dropdown-item"
               routerLink="/catalog"
               [queryParams]="{category:category.categoryId}">{{category.categoryName}}</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link navbar-brand" routerLink="/order">Корзина</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link navbar-brand" routerLink="/admin">Admin</a>
      </li>
    </ul>


  </div>
  <form class="d-flex" [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="!isAuth else logoutBtn"  >
    <input class="form-control me-2" type="email"  placeholder="email"  formControlName="userLogin">
    <input class="form-control me-2" type="password" placeholder="password" formControlName="passwordHash">
    <button class="btn btn-outline-info"
            type="submit"
            [disabled]="loginForm.invalid"
    >Login
    </button>
  </form>
  <ng-template #logoutBtn>
    <span class="text-info h4 p-2">{{userName}}</span>
    <button class="btn btn-outline-info" type="button" (click)="logout()">Logout</button>
  </ng-template>

  <button class="btn btn-outline-info" type="submit"
          routerLink="/registration">Registration
  </button>


</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>


