<div class="container-fluid">

  <div class="row">
    <div class="list-group col-md-3 p-2">
      <div class="d-flex">
        <input class="form-control me-2"
               type="search"
               placeholder="Search"
               aria-label="Search"
               (input)="onClearSearch($event)"
               [(ngModel)]="searchString">
        <button class="btn btn-outline-info bg-light"
                type="button"
                (click)="onSearch()"
        >Search
        </button>
      </div>

      <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed text-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Производитель
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse bg-light" aria-labelledby="flush-headingOne"
               data-bs-parent="#accordionFlushExample">
            <div class="accordion-body " *ngIf="manufacturers$ | async as manufacturers">
              <div class="form-check" *ngFor="let m of manufacturers">
                <input class="form-check-input"
                       type="checkbox"
                       [value]="m.manufacturerId"
                       (change)="sortByManufacturer(m.manufacturerId)"
                       [id]="m.manufacturerName">
                <label class="form-check-label" [for]="m.manufacturerName">{{m.manufacturerName}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="d-flex flex-row flex-wrap" *ngIf="goods$ |async as goods else loading">
        <div *ngIf="goods.length==0" class="m-5 shadow p-3 mb-5 bg-body rounded mx-auto">
          <h4>Нет товаров соответствующих параметрам поиска &#9785;</h4>
        </div>
        <app-goods-card
          class="card m-5  shadow p-3 mb-5 bg-body rounded"
          style="width: 15rem;"
          *ngFor="let g of goods"
          [product]="g"
          [queryParams]="{category:categoryId}">
        </app-goods-card>

      </div>
      <ng-template #loading>
        <div class="d-flex align-items-center">
          <strong>Загрузка...</strong>
          <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
      </ng-template>
    </div>


  </div>

</div>
