<div class="container-fluid p-2 justify-content-center">
  <div class="container ">
    <div class="row justify-content-center ">
      <div class="d-flex col-5">
        <input class="form-control me-2"
               type="search"
               placeholder="Search"
               aria-label="Search"
               [(ngModel)]="searchString"
               (input)="onClearSearch($event)">
        <button class="btn btn-outline-info bg-light" type="submit" (click)="onSearch()">Search</button>
      </div>
    </div>
    <div class="row container ">
      <div class="col align-self-center">
        <div class="d-flex flex-row flex-wrap" *ngIf="goods$ | async as goods; else loading">
          <app-goods-card
            class="card m-5  shadow p-3 mb-5 bg-body rounded"
            style="width: 15rem;"
            *ngFor="let g of goods"
            [product]="g">
          </app-goods-card>
        </div>
        <ng-template #loading>
          <div class="d-flex align-items-center">
            <strong>Загрузка...</strong>
            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

